{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>SiteIscte</title>
</head>
<body>
     <header>       
        <link rel="stylesheet" type="text/css" href="style.css">
       <nav class="topnav">
          <ul>
              <li>
                  <img src="{% static 'logoiscte.png' %}" alt="logo iscte" class="logo" />
              </li>
              <li class="centered">
                  nome do utilizador
              </li>
              <li class="right">
                  <a href="{% url 'votacao:userdetails' %}">User Account</a>
              </li>
              <li class="right">
                  <a href="{% url 'votacao:logoutiscte' %}">Logout</a>
              </li>
          </ul>
        </nav>
    </header>
    <main>
      <h1>{{ questao.questao_texto }}</h1>
      {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
      {% endif %} {% if questao.opcao_set.all %}
      <form action="{% url 'votacao:voto' questao.id %}" method="post">
        {% csrf_token %} {% for opcao in questao.opcao_set.all %}
        <input
          type="radio"
          name="opcao"
          id="opcao{{ forloop.counter }}"
          value="{{ opcao.id }}"
        />
        <label for="opcao{{ forloop.counter }}"> {{ opcao.opcao_texto }} </label>
        <br />
        <br />

        {% endfor %}
        <input type="submit" value="Voto" />
        <input type="submit" value="Apagar" formaction="{% url 'votacao:apagaropcao' questao.id %}"/>
        <input type="reset" />
      </form>
      <a href="{% url 'votacao:criaropcao' questao.id %}">Adicionar Opção</a>
      <br />
      <br />
      <button>
        <a style="text-decoration: none;" href="{% url 'votacao:apagarquestao' questao.id %}">Apagar a Questão</a>
      </button>
      {% else %}
      <a href="{% url 'votacao:criaropcao' questao.id %}">Adicionar Opção</a>
      <br />
      <br />
      <button>
        <a href="{% url 'votacao:apagarquestao' questao.id %}">Apagar a Questão</a>
      </button>
      {% endif %}
    </main>
    <footer>
      <section>
          <h3>Copyright © 2024 all rights reserved </h3>
          <p>Tiago Varandas &nbsp; João Costa &nbsp; Manuel Cunha</p> 
      </section>
      <section>        
          <p>Iscte -Instituto Universitario de Lisboa</p>
          <p><address>Avenida das Forças Armadas, 1649-026 Lisboa</address> </p>
      </section>
      <section>
          <p> TEL +351512903000</p>
          <p>Email:&nbsp<a href="mailto:geral@iscte.ot"><strong>geral@iscte.pt</strong></a></p>
      </section> 
  </footer>
</body>
</html>