* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f8fa;
}

header {
  background-color: #001cba;
  color: white;
  padding: 0.625em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  align-self: center;
  text-align: center;
  align-items: center;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -0.625em;
  padding-bottom: 0.3125em;
  height: 6.25em;
  color: white;
  background-color: #001cba;
  justify-content: center;
  display: flex;
  padding: 0em;
}

section{ 
    margin-left: 2em;
    width: 100%; 
    justify-content: center;
}

button {
  margin: 1em;
  background-color: white;
  color: black;
  padding: 1em;
  border-radius: 0.25em;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}

nav a {
  color: white;
  text-align: center;
  padding: 0.875em 1em;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 50%;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.topnav{
  width: 100%;
}

.topnav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.left {
    order: -1; /* Places this item first */
}

.right {
    text-align: right;
}

.centered {
  text-align: center;
  flex-grow: 1; /* Takes up remaining space */
}

.active {
  background-color: rgba(255, 255, 255, 0.4);
}

.logo {
  width: 10.625em;
  height: auto;
}

.submitbtn{
  background-color: white;
  border: none; 
  box-shadow: none;
}

.submitbtn:hover{
  background-color: whitesmoke;
}

.perfilfoto{  
  
}