{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'votacao/styles/styles.css' %}">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <header>       
    <link rel="stylesheet" type="text/css" href="style.css">
        <nav class="topnav">
            {% if user.is_authenticated %}
                <ul>
                    <li class="left">
                        <li class="left">
                            <img src="{% static 'votacao/images/logoiscte.png' %}" alt="logo iscte" class="logo" />
                        </li>
                    </li>
                    <li class="centered">
                        {{ user.username }} <br>
                        Votos: {{ user.aluno.votosFeitos }}
                    </li>
                    <li class="right">
                        <a href="{% url 'votacao:pessoal' %}">Account</a>
                    </li>
                    <li class="right">
                        <a href="{% url 'votacao:logoutiscte' %}">Logout</a> 
                    </li>
                </ul>          
            {% else %}
                <ul>
                    <li class="left">
                        <img src="{% static 'votacao/images/logoiscte.png' %}" alt="logo iscte" class="logo" />
                    </li>
                    <li class="centered">
                       
                    </li>
                    <li class="right">                       
                        <a href="{% url 'votacao:loginiscte' %}">Login</a><br>                        
                    </li>
                    <li class="right">                        
                        <a href="{% url 'votacao:registar' %}">Register</a>                
                    </li>
                </ul>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block main %}  
        
        {% endblock %}
    </main>
    <footer>
      <section>
          <h3>Copyright © 2024 all rights reserved </h3>
          <p>Tiago Varandas &nbsp; João Costa &nbsp; Manuel Cunha</p> 
      </section>
      <section>        
          <p>Iscte -Instituto Universitario de Lisboa</p>
          <p><address>Avenida das Forças Armadas, 1649-026 Lisboa</address> </p>
      </section>
      <section>
          <p> TEL +351512903000</p>
          <p>Email:&nbsp<a href="mailto:geral@iscte.ot"><strong>geral@iscte.pt</strong></a></p>
      </section> 
  </footer>
</body>
</html>


