{% extends "votacao/base.html" %}
{% load static %}

{% block title %}
    Pessoal
{% endblock %}

{% block main %}
<section style="text-align: left;">
     <div style="display: flex;">
        <div style="width: 20%; margin-top: 5%;" id="foto">
            <img src="{% static 'votacao/media/' %}{{ user.aluno.fotoPerfil }}" alt="foto perfil" style="width: 20em;">
        </div>
        <div style="width: 80%; margin-top: 10%; display: none;" id="info">
            <h1>Informação pessoal</h1>
                Username: {{ user.username }} <br>
                Email: {{ user.email }} <br>
                Curso: {{ user.aluno.curso }} <br>
                Grupo: {{ user.aluno.grupo }} <br>
                votos: {{ user.aluno.votosFeitos }} <br>
        </div>
        <script>
    let foto = document.getElementById("foto");    
    let info = document.getElementById('info');
    let infoText = `Username: {{ user.username }} <br> Email: {{ user.email }} <br> Curso: {{ user.aluno.curso }} <br> Grupo: {{ user.aluno.grupo }} <br> votos: {{ user.aluno.votosFeitos }} <br>`;

    foto.addEventListener("mouseover", () => {
        info.style.display = "block";
    });

    foto.addEventListener("mouseout", () => {
        info.style.display = "none";
    });
</script>
    </div>
    <br>
    <br>
    <br>
    <a href="{% url 'votacao:fazer_upload' %}">Fazer Upload de Imagem</a> 
    <br>
    <br>
    <a href="{% url 'votacao:index' %}">Voltar</a>
</section>
   
{% endblock %}

{% block importscript %}
  <script src="{% static 'votacao/scripts/script.js' %}"></script>
{% endblock %}

