{% extends "votacao/base.html" %}
{% load static %}

{% block title %}
    Criar Opcao
{% endblock %}

{% block main %}
    <h1>{{ questao.questao_texto }}</h1>

    <ul>
        {% for opcao in questao.opcao_set.all %}
            {{ opcao.opcao_texto }} - {{ opcao.votos }} voto{{ opcao.votos|pluralize }}
            <br>
        {% endfor %}
    </ul>

    <a href="{% url 'votacao:detalhe' questao.id %}">Votar novamente?</a> <br>
    <a href="{% url 'votacao:index' %}">Voltar</a>
{% endblock %}

{% block importscript %}
  <script src="{% static 'votacao/scripts/script.js' %}"></script>
{% endblock %}